:root {
  --color-light: white;
  --color-light-soft: #e5e5e5;
  --color-dark-soft: #323232;
  --color-dark: black;

  --color-primary: #5aa9f7;
  --color-primary-soft: #4887c5;

  --color-danger: #f75a5a;
  --color-danger-soft: #c54848;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

button, input, select, textarea {
  font: inherit;
}

body {
  min-height: 100vh;
  color: var(--color-dark);
  background: var(--color-light);

  font-family: 'Courier New', Courier, monospace;
  font-size: calc(min(0.3vw, 3.84px) + 0.5rem);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
